In [1]:
!pip install ipython-sql
import pandas as pd
%load_ext sql
%sql sqlite://

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [5]:
#Inspect the table, what columns are within it
%%sql
SELECT * 
FROM state_climate
LIMIT 10;

 * sqlite://
(sqlite3.OperationalError) no such table: state_climate
[SQL: SELECT * FROM state_climate]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
# Question 1: How does the average temperature change over time in each state?
%%sql
SELECT state, year,tempc, AVG(tempc) OVER(PARTITION BY state ORDER BY year ) "running_avg_temp"
FROM state_climate
LIMIT 10;

In [ ]:
#Question 2: What is the lowest temperature by state in the dataset
%%sql
SELECT state, year,tempc, FIRST_VALUE(tempc) OVER(PARTITION BY state ORDER BY tempc  ) "lowest_temp"
FROM state_climate
LIMIT 10;

In [ ]:
#Question 3:What is the highest temperature by state
%%sql
SELECT state, year,tempc, FIRST_VALUE(tempc) OVER(PARTITION BY state ORDER BY tempc DESC  ) "highest_temp"
FROM state_climate
LIMIT 10;

In [ ]:
#Question 4:How has temperature changed each year in each state? Which states and years saw the largest changes in temperature?Is there a particular part of the United States that saw the largest yearly changes in temperature?
%%sql
SELECT state, year,tempc, tempc-LAG(tempc,1,tempc) OVER (PARTITION BY state ORDER BY year) AS "change_in_temp"
FROM state_climate
ORDER BY change_in_temp DESC
LIMIT 10;

In [ ]:
#Question 5: Rank the coldest tempaeratures on record
%%sql
SELECT RANK() OVER(ORDER BY tempc) AS "coldest_rank",year,state,tempc
FROM state_climate
LIMIT 10;

In [ ]:
#Question 6: Rank the warmest temperatures on record?
%%sql
SELECT RANK() OVER(ORDER BY tempc DESC) AS "warmest_rank",year,state,tempc
FROM state_climate
LIMIT 10;

In [ ]:
#Question 7: What are the quartiles of the average yearley temperatures by state?
%%sql
SELECT NTILE(4) OVER (PARTITION BY state ORDER BY tempc) AS "Quartiles",
year,state,tempc
FROM state_climate
LIMIT 10;

In [ ]:
#Question 8: In quintiles what are the average yearly temperatures
%%sql
SELECT NTILE(5) OVER (ORDER BY tempc) AS "Quintiles",
year,state,tempc
FROM state_climate
LIMIT 10;